{% extends "templates/base.html" %}
{% block title %}Max Vogel Group | About{% endblock %}
{% block content %}

	<!-- WELCOME
    ================================================== -->


	<section class="py-8 py-md-11 border-bottom bg-light">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-8 text-center">
					<br>
					<!-- Headin -->


					<h1 class="display-2">Small team. Big hearts.</h1>
					<!-- Text -->


					<p class="lead text-muted mb-7 mb-md-9">We specializes in the implementation of systems and services to help companies grow and reach goals through strategic planning and product development.</p>
				</div>
			</div>
			<!-- / .row -->


			<div class="row">
				<div class="col-12">
					<!-- Image -->


					<div class="form-row">
						<div class="col-12"><img alt="..." class="img-fluid rounded shadow-lg" src="assets/mvg_website/img/photos/mvg_stillwater.jpe">
						</div>
					</div>
				</div>
			</div>
			<!-- / .row -->


			<div class="col-12">
				<br>
				<br>


				<p class="font-size-lg text-gray-700 mb-6">We are a collective of like minded individuals who bring our experience and skills to every project that we tackle. With our diverse backgrounds and values, we are able to truly see our clients' visions from every possible perspective. Our unique team model and combined expertise can truly redefine what technology means to your buisness.</p>


				<p class="font-size-lg text-gray-700 mb-6">Through a true understanding of what your company's brand means to you, we are able to tailor what our services look like to match and enhance your buisness's unique identity.</p>


				<p class="font-size-lg text-gray-700 mb-6">We are proudly based in Stillwater, Minnesota. We enjoy working within our local community, but as a technology company, understand that distance is no barrier. No matter how far your home might be from ours, we would love to take the time to talk about how we can help.</p>
				<a class="btn btn-primary mr-1 lift" href="services.html">Learn More</a>
			</div>
		</div>
		<!-- / .container -->
	</section>

{% endblock %}