{% extends "templates/base.html" %}
{% block title %}Max Vogel Group | Services{% endblock %}
{% block content %}

	<!-- WELCOME
    ================================================== -->


	<section class="pt-8 pb-11 pt-md-9 pb-md-12 py-lg-14 bg-light bg-between" style="background-image: url('assets/mvg_website/img/illustrations/illustration-6-cropped.png'), url('assets/mvg_website/img/illustrations/illustration-4-cropped.png');">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-7 text-center" data-aos="fade-up">
					<!-- Image (mobile) -->
					<img alt="..." class="img-fluid mb-6 d-lg-none" src="assets/mvg_website/img/illustrations/illustration-8.png"> <!-- Heading -->


					<h1 class="display-2 font-weight-bold">Your Brand.<br>
					Our Services.</h1>
					<!-- Text -->


					<p class="font-size-lg text-muted mb-6 mb-md-8">Forward thinking businesses use our tailored services to build, optimize, and grow their digital expierences and tools.</p>
					<!-- Button -->
					 <a class="btn btn-white btn-rounded-circle shadow mr-1 lift" data-toggle="smooth-scroll" href="#about"><i class="fe fe-arrow-down"></i></a>
				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</section>
	<!-- SHAPE
    ================================================== -->
	
	<div class="position-relative">
		<div class="shape shape-bottom shape-fluid-x svg-shim text-white">
			<svg viewbox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path></svg>
		</div>
	</div>
	<!-- ABOUT
    ================================================== -->


	<section class="pt-8 pt-md-10 bg-white" id="about">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<!-- Col 1 Item 1 -->


					<div class="row align-items-center mb-8" data-aos="fade-up">
						<div class="col-4 col-lg-5"><!-- Image -->
						<img alt="..." class="img-fluid" src="assets/mvg_website/img/icons/services/1website_design_and_development.svg">
						</div>


						<div class="col-8 col-lg-7">
							<!-- Heading -->


							<h3 class="font-weight-bold mb-2">Website Design and Development</h3>
							<!-- Text -->


							<p class="text-gray-700 mb-0">We build, update, and maintain webistes that not only match brands, but improve their overall audiance reach.</p>
						</div>
					</div>
					<!-- / .row -->
					<!-- Col 1 Item 2 -->


					<div class="row align-items-center mb-8" data-aos="fade-up">
						<div class="col-4 col-lg-5"><!-- Image -->
						<img alt="..." class="img-fluid" src="assets/mvg_website/img/icons/services/3managed_website_hosting.svg">
						</div>


						<div class="col-8 col-lg-7">
							<!-- Heading -->


							<h3 class="font-weight-bold mb-2">Managed Website Hosting</h3>
							<!-- Text -->


							<p class="text-gray-700 mb-0">Website hosting can be complicated. We handle the problems and complexities for you.</p>
						</div>
					</div>
					<!-- / .row -->
					<!-- Col 1 Item 3 -->


					<div class="row align-items-center mb-8" data-aos="fade-up">
						<div class="col-4 col-lg-5"><!-- Image -->
						<img alt="..." class="img-fluid" src="assets/mvg_website/img/icons/services/5email_solutions.svg">
						</div>


						<div class="col-8 col-lg-7">
							<!-- Heading -->


							<h3 class="font-weight-bold mb-2">Email Solutions</h3>
							<!-- Text -->


							<p class="text-gray-700 mb-0">Maintain a profesional appearance with custom email addresses and secure inboxes for your entire team.</p>
						</div>
					</div>
					<!-- / .row -->
					<!-- Col 1 Item 4 -->


					<div class="row align-items-center mb-8" data-aos="fade-up">
						<div class="col-4 col-lg-5"><!-- Image -->
						<img alt="..." class="img-fluid" src="assets/mvg_website/img/icons/services/7analytics_and_insights.svg">
						</div>


						<div class="col-8 col-lg-7">
							<!-- Heading -->


							<h3 class="font-weight-bold mb-2">Analytics and Insights</h3>
							<!-- Text -->


							<p class="text-gray-700 mb-0">Understanding your audiance is critical to sucsess and growth. Let us help you find trends and draw better conclusions.</p>
						</div>
					</div>
					<!-- / .row -->
				</div>


				<div class="col-12 col-lg-6">
					<!-- Col 2 Item 1 -->


					<div class="row align-items-center mb-8" data-aos="fade-up">
						<div class="col-4 col-lg-5"><!-- Image -->
						<img alt="..." class="img-fluid" src="assets/mvg_website/img/icons/services/2user_experience_design_and_development.svg">
						</div>


						<div class="col-8 col-lg-7">
							<!-- Heading -->


							<h3 class="font-weight-bold mb-2">User Experience Design and Development</h3>
							<!-- Text -->


							<p class="text-gray-700 mb-0">We create unique systems and expierences for buisnesses and their brands.</p>
						</div>
					</div>
					<!-- / .row -->
					<!-- Col 2 Item 2 -->


					<div class="row align-items-center mb-8" data-aos="fade-up">
						<div class="col-4 col-lg-5"><!-- Image -->
						<img alt="..." class="img-fluid" src="assets/mvg_website/img/icons/services/4managed_application_hosting.svg">
						</div>


						<div class="col-8 col-lg-7">
							<!-- Heading -->


							<h3 class="font-weight-bold mb-2">Managed Application Hosting</h3>
							<!-- Text -->


							<p class="text-gray-700 mb-0">Have a buisness application, or connected service? Let us help bring it online or give your old fiends new life.</p>
						</div>
					</div>
					<!-- / .row -->
					<!-- Col 2 Item 3 -->


					<div class="row align-items-center mb-8" data-aos="fade-up">
						<div class="col-4 col-lg-5"><!-- Image -->
						<img alt="..." class="img-fluid" src="assets/mvg_website/img/icons/services/6search_engine_optimization.svg">
						</div>


						<div class="col-8 col-lg-7">
							<!-- Heading -->


							<h3 class="font-weight-bold mb-2">Search Engine Optimization</h3>
							<!-- Text -->


							<p class="text-gray-700 mb-0">Rankings are key to reaching your audiance. We help make sure brands are not missing out on top search result traffic.</p>
						</div>
					</div>
					<!-- / .row -->
					<!-- Col 2 Item 4 -->


					<div class="row align-items-center mb-8" data-aos="fade-up">
						<div class="col-4 col-lg-5"><!-- Image -->
						<img alt="..." class="img-fluid" src="assets/mvg_website/img/icons/services/8dns_solutions.svg">
						</div>


						<div class="col-8 col-lg-7">
							<!-- Heading -->


							<h3 class="font-weight-bold mb-2">DNS Solutions</h3>
							<!-- Text -->


							<p class="text-gray-700 mb-0">We optimize and handle buisness's domain systems to better assist with the growth of a thier applications and services.</p>
						</div>
					</div>
					<!-- / .row -->
				</div>
			</div>
			<!-- / .row -->


			<div class="row">
				<div class="col-12 text-center">
					<a class="btn btn-primary" href="contact.html">
						Let's Get in Touch
					  </a>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
		<!-- / .container -->
	</section>
{% endblock %}